<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SOExplorer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SOExplorerKIFTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SOExplorerTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A45729820ED065F00B8A900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4572AC20ED066100B8A900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4572B720ED066100B8A900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4572D020ED1B7100B8A900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
